# proper file path and name: ~/.gitconfig
# "~" is "%userprofile%"

# https://help.github.com/en/github/authenticating-to-github/working-with-ssh-key-passphrases
# https://support.microsoft.com/help/4026814/windows-accessing-credential-manager

# on Windows [during git submodules initialization] you might want to force https over ssh

[gui]
	encoding = utf-8
[user]
	name = name for commits
	email = mail@for.commits
[credential]
	provider = generic
	helper = manager
[core]
	autocrlf = true
	editor = code --wait # VS Code as default editor
	# compression = 9
[pull]
	rebase = true
	ff = no
# diff and merge options
[diff]
	tool = vscode # VS Code as default diff tool
[merge]
	tool = vscode # VS Code as default merge tool
	conflictstyle = diff3
	commit = no
	ff = no
# diff and merge tools settings
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
# miscellaneous
# [url "https://github.com/"] # force https over ssh
# 	insteadOf = git@github.com:
#
# overrides
[includeIf "gitdir:folder"]
	path = file_path
