# https://git-scm.com/docs/gitattributes

* text=auto

# common
*.bat  text eol=crlf
*.h    text working-tree-encoding=UTF-8 diff=cpp
*.c    text working-tree-encoding=UTF-8 diff=cpp
*.json text working-tree-encoding=UTF-8
*.txt  text working-tree-encoding=UTF-8
*.md   text working-tree-encoding=UTF-8
*.ttf  binary
*.otf  binary
*.png  binary

# project assets
/assets/**/*.obj  text eol=lf
/assets/**/*.glsl text eol=lf diff=cpp
/assets/**/*.txt  text eol=lf working-tree-encoding=UTF-8
/assets/**/*.json text eol=lf working-tree-encoding=UTF-8

# project
/project/**/*.rdbg binary
