# proper file path and name: ~/.gitconfig
# "~" is "%userprofile%"

# https://help.github.com/en/github/authenticating-to-github/working-with-ssh-key-passphrases
# https://support.microsoft.com/en-us/help/4026814/windows-accessing-credential-manager

# on Windows [during git submodules initialization] you might want to force https over ssh

[user]
	name = name for commits
	email = mail@for.commits
[core]
	autocrlf = true
	editor = code --wait # VS Code as default editor
# VS Code as default diff tool
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
# VS Code as default merge tool
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait $MERGED
# credential
[credential]
	helper = manager
# [url "https://github.com/"] # force https over ssh
# 	insteadOf = git@github.com:
#
