#include <Windows.h>

ico                                ICON        "icon.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "windows_manifest.manifest"

// https://learn.microsoft.com/windows/win32/menurc/resource-compiler
