{
	"size": [320, 180],
	"buffers": [
		{
			"flags": ["color"],
			"type": "rgba8_unorm",
			"read": true,
		},
		{
			"flags": ["depth"],
			"type": "r32_f",
		},
	],
}
